
body {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 10%;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*:not(table) {
    line-height: 1.5;
    box-sizing: content-box;
}

strong {
    font-weight: bold;
}

p {
    margin: 10px 0;
    color: #555;
}

h1:first-of-type,
div > div:first-of-type h1 {
      margin-top: 14px;
}

h1,
h2,
h3,
h5 {
    font-weight: bold;
}

h1 {
    font-size: 1.6rem;
    line-height: 28px;
    border-bottom: 3px double #999;
    margin: 52px 0 15px 0;
    padding-bottom: 7px;
    color: #000;
}

h2 {
    font-size: 1.3rem;
    line-height: 23px;
    border-bottom: 1px solid #dbdbdb;
    margin: 30px 0 13px 0;
    padding-bottom: 7px;
    color: #333;
}

h3,
h4 {
    font-size: 1.2rem;
    line-height: 18px;
    margin: 20px 0 2px;
    color: #333;
}

h5,
h6 {
    font-size: 1rem;
    line-height: 17px;
    margin: 10px 0 -4px;
    color: #333;
}

ul,
menu,
ol,
dir {
    display: block;
    list-style-type: disc;
    padding-left: 17px;
    margin: 6px 0 10px;
    color: #555;
}

ol {
    list-style-type: decimal;
}

a {
    font-size: 1.1rem;
    text-decoration: underline;
    color: #5286bc;
}

a:hover {
    text-decoration: none;
    font-style: bold;
    outline: 1px solid rgba(255, 0, 0, 0.583);
    border-radius: 3px;
    color: #ff000d;
}
