a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.ctn {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.172;
  color: #212121;
  vertical-align: middle;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  margin-left: 93px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1738;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logoS {
  color: #212121;
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: inherit;
}

.link:focus, .link:hover {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus::before, .link:hover::before {
  color: #2196f3;
}

.link.active::after {
  position: absolute;
  bottom: -31px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact {
  margin-left: auto;
}

.contact a {
  color: #757575;
}

.contact li:last-child {
  margin-left: 30px;
}

.contact-icon {
  margin-right: 10px;
  text-align: center;
  fill: currentColor;
}

.header,
.nav,
.nav__list,
.box,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
